@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One);
body {
  background-color: #717274;
  color: #1100ff;
  font-family: "Alfa Slab One", cursive;
  font-weight: normal;
}

h4 {
  font-size: 30px;
  text-align: center;
  color: #744242b4;
}

button {
  background-color: darkgray;
  color: #5f3535;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  background-image: url("../img/metalic2.jpg");
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.7);
}

input {
  margin-right: 20px;
}

.container {
  width: 500px;
  margin: auto;
}

.box, .archived {
  height: 30px;
  margin-top: 10px;
}

#form_addTask {
  height: 30px;
}

.box.over {
  border: 3px dotted #666;
}

.box {
  cursor: move;
}

#currentTask {
  border: 1px solid black;
  border-radius: 15px;
  height: 450px;
  background: url("../img/metal-plaque.jpg");
  background-size: 100% auto;
}
#currentTask #form_aFaire {
  background: url("../img/rouille.jpg") no-repeat center center;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: 1px;
}
#currentTask #form_aFaire input[type=checkbox] {
  appearance: none;
  background-color: #74424271;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 3px;
  position: relative;
  top: 5px;
}
#currentTask #form_aFaire input[type=checkbox]:active, #currentTask #form_aFaire input[type=checkbox]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
#currentTask #form_aFaire input[type=checkbox]:checked {
  background-color: #5f3535;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

#addTask {
  background: url("../img/metal-plaque.jpg");
  background-size: 100% auto;
  border: 1px solid black;
  border-radius: 15px;
  height: 200px;
}
#addTask #task {
  resize: none;
}
#addTask #form_addTask {
  text-align: center;
  background-color: transparent;
}
#addTask #form_addTask textarea {
  background: url("../img/metal-plaque.jpg") center center no-repeat;
  color: #744242b4;
}

#archivedTask {
  background: url("../img/metal-plaque.jpg");
  background-size: 100% auto;
  border: 1px solid black;
  border-radius: 15px;
}
#archivedTask #archivedDiv {
  background: url("../img/rouille.jpg") no-repeat center center;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: 1px;
}
#archivedTask #archivedDiv input[type=checkbox] {
  appearance: none;
  background-color: #74424271;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  position: relative;
  top: 5px;
}
#archivedTask #archivedDiv input[type=checkbox]:active, #archivedTask #archivedDiv input[type=checkbox]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
#archivedTask #archivedDiv input[type=checkbox]:checked {
  background-color: #5f3535;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

/*# sourceMappingURL=style.css.map */
